{{ form_start(form) }}
<div class="row">
    <div class="col">{{ form_row(form.title) }}</div>
</div>
<div class="row">
    <div class="col-md-6">{{ form_row(form.startDateEvent) }}</div>
    <div class="col-md-6">{{ form_row(form.endDateEvent) }}</div>
</div>
{{ form_widget(form) }}
<button class="btn btn-primary">{{ button | default('Save') }}</button>
{{ form_end(form) }}