<!-- Change the navbar color if connected as admin -->
{% if is_granted('ROLE_ADMIN') %}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary shadow fixed-top">
    {% else %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow fixed-top">
        {% endif %}
        <!-- ./Change the navbar color if connected as admin -->

        <!-- icone/logo navbar -->
        <a class="navbar-brand" href="{{ path('home') }}">MyBeautifulTown</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
            aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- ./icone/logo navbar -->

        <!-- navbar links-->
        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav mr-auto">
                {% block header_navigation_links %}
                <li class="nav-item {% if  current_menu is defined and current_menu == 'home' %}active{% endif %}">
                    <a class="nav-link" href="{{ path('home') }}">Home</a>
                </li>
                <li class="nav-item {% if  current_menu is defined and current_menu == 'history' %}active{% endif %}">
                    <a class="nav-link" href="{{ path('history') }}">History</a>
                </li>
                <li
                    class="nav-item {% if  current_menu is defined and current_menu == 'eventsList' %}active{% endif %}">
                    <a class="nav-link" href="{{ path('events.list') }}">Events</a>
                </li>
                <li class="nav-item {% if  current_menu is defined and current_menu == 'find-us' %}active{% endif %}">
                    <a class="nav-link" href="{{ path('find-us') }}">Find us</a>
                </li>
                <li class="nav-item {% if  current_menu is defined and current_menu == 'contact' %}active{% endif %}">
                    <a class="nav-link" href="{{ path('contact') }}">Contact</a>
                </li>
            </ul>
            <!-- ./navbar links-->

            <!-- logout link that appears when a user or admin is logged in -->
            {% if app.user %}
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a href="{{ path('logout') }}" class="nav-link">Sign out</a>
                </li>
            </ul>
            {% endif %}
            <!-- ./logout link that appears when a user or admin is logged in -->
            {% endblock %}

            <!-- link to change language -->
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle"
                        data-toggle="dropdown" href="#" id="navbarDropdown" role="button">
                        Select your language
                    </a>
                    <div aria-labelledby="navbarDropdown" class="dropdown-menu">
                        <a class="dropdown-item" href="#">Français</a>
                        <a class="dropdown-item" href="#">English</a>
                    </div>
                </li>
            </ul>
            <!-- ./link to change language -->

            <!-- search area form -->
            <form class="form-inline my-2 my-lg-0">
                <input aria-label="Search" class="form-control mr-sm-2" placeholder="Search..." type="search">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
            </form>
            <!-- ./search area form -->

        </div>
    </nav>