{# templates/base.html.twig #}
<!DOCTYPE html>
<html>

    <head>
        <!--    Required meta tags  -->
        <meta charset="UTF-8">
        <title>
            {% block title %}Welcome!
            {% endblock %}
        </title>
        <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
        {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
        {% endblock %}

    </head>

    <body>
        <!--    header Area Start   -->
        <header>
            <div>
                <div class="row">
                    <div class="col-12">
                        <div>
                            <img src="{{ asset('build/assets/images/home/Saint-Hilaire-du-Harcouet-sm.jpg') }}"
                                alt="image du village">
                        </div>
                        {{ include('include/navbar.html.twig') }}
                    </div>
                </div>
            </div>
        </header>
        <!--   ./header Area Start   -->

        <!-- DIV POUR AFFICHER DIFFERENTS MESSAGE -->
        {% for message in app.flashes('success') %}
        <div class="container alert alert-success text-center">
            {{ message }}
        </div>
        {% endfor %}

        {% block body %}{% endblock %}
        <hr>
        <footer class="d-flex flex-column flex-md-column text-center">
            {{ include('include/footer.html.twig') }}
        </footer>

        {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
        {% endblock %}

    </body>

</html>