{% extends 'base.html.twig' %}

{% block title %}Detail of an event
{% endblock %}

{% block body %}
<div class="container mt-4">
    <h1 class="text-center">{{myEvent.gettitle}}</h1>
    <h6 class="card-title text-center">from
        <b>
            {{ myEvent.startDateEvent|localizeddate('long', 'short') }}</b>
        to
        <b>
            {{ myEvent.endDateEvent|localizeddate('long', 'short') }}</b>
    </h6>
    <br>
    <div class="row">
        <!--    div pour afficher des images    -->
        <div class="col-md-7">
            {% if myEvent.pictures is not empty %}
            <!-- Grid row pictures -->
            <div class="row flex">
                {% for picture in myEvent.pictures %}
                <div class="col">
                    <img src="{{ vich_uploader_asset(picture, 'imageFile') }}" alt="image de l'événement"
                        class="card-img-top" style="width: 100%; height:auto">
                </div>
                {% endfor %}
            </div>
            {% else %}
            <img src="{{ '/images/events/empty_picture.jpg' }}" alt="Aucune image associée" class="card-img-top"
                style="width: 100%; height:auto">
            {% endif %}
        </div>
        <!--    div pour le texte   -->
        <div class="col-md-5">
            <h3>{{ myEvent.body }}</h3>
        </div>
    </div>
</div>
{% endblock %}