{% extends 'base.html.twig' %}

{% block title %}Detail of an event
{% endblock %}

{% block body %}
<div class="container mt-4">
    <h1 class="text-center">{{myEvent.gettitle}}</h1>
    <h6 class="card-title text-center">from
        <b>
            {{ myEvent.startDateEvent|localizeddate('long', 'short') }}</b>
        to
        <b>
            {{ myEvent.endDateEvent|localizeddate('long', 'short') }}</b>
    </h6>
    <br>
    <div class="row">

        <!-- afficher les images -->
        <div class="col-md-7">
            <div data-slider>
                <!-- grid row pictures -->
                <div class="column">
                    <!-- si la collection d images est  vide -->
                    {% if myEvent.pictures is empty %}
                    <!-- on affiche une image par defaut -->
                    <div class="col">
                        <img src="{{ asset('build/images/default/empty_picture.jpg') }}" alt="Aucune image associée"
                            class="card-img-top" style="width: 100%; height:auto">
                    </div>
                    {% else %}
                    <!-- Sinon on itere la liste des images -->
                    {% for picture in myEvent.pictures %}
                    <div class="col mt-5">
                        <img src="{{ vich_uploader_asset(picture, 'imageFile') }}" alt="image de l'événement"
                            class="card-img-top" style="width: 100%; height:auto">
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>
                <!-- ./grid row pictures -->
            </div>
        </div>
        <!-- ./afficher les images -->

        <!-- div pour le texte -->
        <div class="col-md-5">
            <h3>{{ myEvent.body }}</h3>
        </div>
        <!-- ./div pour le texte -->
    </div>

    <!-- affichage de la carte qui localise l evenement -->
    <div id="eventMap" style="width: 100%; height: 400px" data-lat="{{ myEvent.lat }}" data-lng="{{ myEvent.lng }}">
    </div>
    <!-- ./affichage de la carte qui localise l evenement -->

</div>
{% endblock %}